:root {
    --hc-primary-500                : #F55638;
    --hc-primary-600                : #F57738;
    --hc-primary-700                : #F59838;
    --hc-secondary-500              : #FFC857;
    --hc-secondary-600              : #f7a838;
    --hc-secondary-700              : #d68d2a;
    --hc-brown-500                  : #95570e;
    --hc-brown-600                  : #753c00;
    --hc-text-strong                : #2E282A;
    --hc-text-light                 : #6C757D;

    --hc-disabled-bg                : #c7c7c7;
    --hc-disabled-text              : #6C757D;
    --hc-background-primary         : var(--hc-primary-500);
    --hc-background-primary-hover   : var(--hc-primary-600);
}
  