:root {
    --shc-font-family                : 'DM Sans', 'Nunito Sans', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;

    --shc-primary-500                : #FF7A00;
    --shc-primary-600                : #E86B00;
    --shc-primary-700                : #CC5D00;
    --shc-secondary-500              : #FFC857;
    --shc-secondary-600              : #f7a838;
    --shc-secondary-700              : #d68d2a;
    --shc-brown-500                  : #95570e;
    --shc-brown-600                  : #753c00;
    --shc-text-strong                : #2E282A;
    --shc-text-light                 : #6C757D;
    --shc-text-white                 : #FFFFFF;

    --shc-background-main            : #f4f4f4;
    --shc-disabled-bg                : #c7c7c7;
    --shc-disabled-text              : #6C757D;
    --shc-background-primary         : var(--shc-primary-500);
    --shc-background-primary-hover   : var(--shc-primary-600);
    --shc-background-secondary       : var(--shc-secondary-500);
    --shc-background-secondary-hover : var(--shc-secondary-600);
    --shc-background-linear          : linear-gradient(90deg, var(--shc-disabled-bg), var(--shc-secondary-600));

    --hc-primary-500                 : var(--shc-primary-500);
    --hc-primary-600                 : var(--shc-primary-600);
    --hc-primary-700                 : var(--shc-primary-700);
    --hc-secondary-500               : var(--shc-secondary-500);
    --hc-secondary-600               : var(--shc-secondary-600);
    --hc-secondary-700               : var(--shc-secondary-700);
    --hc-brown-500                   : var(--shc-brown-500);
    --hc-brown-600                   : var(--shc-brown-600);
    --hc-text-strong                 : var(--shc-text-strong);
    --hc-text-light                  : var(--shc-text-light);
    --hc-text-white                  : var(--shc-text-white);
    --hc-font-family                 : var(--shc-font-family);

    --hc-background-main             : var(--shc-background-main);
    --hc-disabled-bg                 : var(--shc-disabled-bg);
    --hc-disabled-text               : var(--shc-disabled-text);
    --hc-background-primary          : var(--shc-background-primary);
    --hc-background-primary-hover    : var(--shc-background-primary-hover);
    --hc-background-secondary        : var(--shc-background-secondary);
    --hc-background-secondary-hover  : var(--shc-background-secondary-hover);
    --hc-background-linear           : var(--shc-background-linear);
}
